
@{
    ViewData["Title"] = "kayıtTamamla";
}

<br />
<br />
<div class="col-sm-6 container">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title" style=" text-align:center; color:crimson">Kayıt Olma Başarılı</h4>
            <p class="card-text" style="text-align:center;font-style:italic">Başarı İle Kayıt Olundu</p>
            <center>
                <a asp-controller="Home" asp-action="Index" class="btn btn-success" style="text">Anasayfa</a>
                <a asp-controller="Otel" asp-action="Index" class="btn btn-success">Otel</a>
                <a asp-controller="Blog" asp-action="Index" class="btn btn-success">Blog</a>
                <a asp-controller="Lokanta" asp-action="Index" class="btn btn-success">Lokanta</a>
                <a asp-controller="Account" asp-action="Login" class="btn btn-success">Giriş</a>
            </center>
        </div>
    </div>
</div>
<br />
<br />
