.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: Georgia, serif;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    opacity: 0.6;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.border-button {
    border: solid 0px;
    transition: border-width 0.2s linear;
}

    .border-button:hover {
        border-width: 10px;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
